<div class="content comment_form">
    <form action="{{ path_for('thread_save') }}" method="post" id="comment_form" enctype="multipart/form-data">
        <label for="comment">コメント: <textarea class="comment_form__comment" name="comment"></textarea></label>
        <label for="picture">画像: <input type="file" name="picture" id="picture"
                                        accept="image/png, image/gif, image/jpeg"></label>
        <input type="hidden" name="thread_id" value="{{ thread_id }}">
        <input type="hidden" name="sort" value="{{ sort }}">
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
        <input type="hidden" name="{{ valueKey }}" value="{{ value }}">
        <input type="submit" value="コメントする" class="button">
    </form>
</div>