<div class="row">
    <article class="comments column">
        {% if comments %}
            {% for comment in comments %}
                <section class="comment">
                    <header class="comment__header">
                        {% set isSigned = comment.user_name and comment.user_image_url %}
                        <div>
                            <div class="comment__header__wrap">
                                {% if isSigned %}
                                    <img class="comment__header__wrap__icon" src="{{ comment.user_image_url }}"
                                         alt="{{ comment.user_name }}">
                                {% else %}
                                    <img class="comment__header__wrap__icon" src="http://via.placeholder.com/48x48"
                                         alt="匿名ユーザー">
                                {% endif %}
                            </div>
                            <div class="comment__header__username">
                                {% if isSigned %}
                                    @{{ comment.user_name }}
                                {% else %}
                                    匿名ユーザー
                                {% endif %}
                            </div>
                        </div>
                        <div class="comment__header__createdat">
                            {{ comment.createdAtStr }}
                        </div>
                    </header>
                    <main class="comment__main">
                        <div id="{{ comment.comment_id }}">
                            {{ comment.comment | trim }}
                        </div>
                        {% if comment.photo_url %}
                            <div class="comment_main__photo">
                                <img src="https://s3-{{ region }}.amazonaws.com/{{ bucket }}/{{ comment.photo_url }}"
                                     alt="{{ comment.comment }}">
                            </div>
                        {% endif %}
                    </main>
                    <footer class="comment__footer">
                        {% if is_admin %}
                            <form action="{{ path_for('delete_comment') }}" method="post">
                                <input type="hidden" name="comment_id" value="{{ comment.comment_id }}">
                                <input type="hidden" name="thread_id" value="{{ comment.thread_id }}">
                                <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
                                <input type="hidden" name="{{ valueKey }}" value="{{ value }}">
                                <input type="hidden" name="query" value="{{ query }}">
                                <input type="hidden" name="_METHOD" value="DELETE">
                                <input type="submit" value="削除" class="button--small">
                            </form>
                        {% endif %}
                        <div>
                            <a href="{{ path_for('thread', {}, {'thread_id': comment.thread_id}) }}">スレッドを見る</a>
                        </div>
                        <div>
                            <a href="{{ path_for('thread', {}, {'thread_id': comment.thread_id}) }}#c{{ comment.comment_id }}">コメントへ飛ぶ</a>
                        </div>
                        <div>
                            そうだね&#215;<span
                                    id="like-{{ comment.comment_id }}_like">{{ comment.like_count }}</span>
                        </div>
                    </footer>
                </section>
            {% endfor %}
        {% else %}
            <div class="content">
                コメントがありません。
            </div>
        {% endif %}
    </article>
</div>