{% extends "base.twig" %}

{% block title %}Toppage{% endblock %}
{% block contents %}
    {% if not loggedIn %}
        <a href="{{ path_for('login') }}">ログイン</a>
    {% else %}
        <a href="{{ path_for('logout') }}">ログアウト</a>
    {% endif %}
    <form action="{{ path_for('home') }}" method="post">
        <label>テキスト：<input type="text" name="comment"></label>
        <input type="submit" value="送信">
        <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
        <input type="hidden" name="{{ valueKey }}" value="{{ value }}">
    </form>
    {% for thread in threads %}
        <a href="{{ path_for('thread', {}, {'thread_id': thread.thread_id}) }}">{{ thread.comment }}</a>   {{ thread.created_at }}
    {% endfor %}
{% endblock %}