{% extends "base.twig" %}

{% block title %}Toppage{% endblock %}
{% block contents %}
    {% if not loggedIn %}
        <a href="{{ path_for('login') }}">ログイン</a>
    {% else %}
        <a href="{{ path_for('logout') }}">ログアウト</a>
    {% endif %}
    <div class="message">
        {% if saved %}
            <li>{{ saved }}</li>
        {% endif %}
        {% if deleted %}
            <li>{{ deleted }}</li>
        {% endif %}
    </div>
    <form action="{{ path_for('home') }}" method="post">
        <label>コメント：<input type="text" name="comment"></label>
        <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
        <input type="hidden" name="{{ valueKey }}" value="{{ value }}">
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <input type="submit" value="スレッドを作成" class="button">
    </form>
    <article class="threads">
        <h2>スレッド一覧</h2>
        {% for thread in threads %}
            <section class="thread">
                <a href="{{ path_for('thread', {}, {'thread_id': thread.thread_id}) }}">
            {% if thread.comment %}{{ thread.comment }}{% else %}[削除済み]{% endif %}
                </a>   {{ thread.created_at }}
            </section>
        {% endfor %}
    </article>
    <div class="row">
        <article class="search column column-50">
            <h2>検索フォーム</h2>
            <form action="{{ path_for('search') }}" method="post">
                <label for="query"><input type="text" name="query" class="search__query"></label>
                <input type="submit" value="検索">
            </form>
        </article>
    </div>
{% endblock %}