{% extends "base.twig" %}

{% block title %}Toppage{% endblock %}
{% block contents %}
    {% if info %}
        <div class="message content">
            <ul class="message__lists">
                <li>{{ info }}</li>
            </ul>
        </div>
    {% endif %}
    {% if error %}
        <div class="message message--error content">
            <ul class="message__lists">
                <li>{{ error }}</li>
            </ul>
        </div>
    {% endif %}
    <div class="create-thread">
        <h2>スレッドを作る</h2>
        <form action="{{ path_for('home') }}" method="post" class="create-thread__form">
            <label>コメント：<textarea name="comment"></textarea></label>
            <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
            <input type="hidden" name="{{ valueKey }}" value="{{ value }}">
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <input type="submit" value="作成" class="button">
        </form>
    </div>
    {% if threads is not empty %}
        <div class="search column">
            <h2 class="search__title">コメントを探す</h2>
            <form action="{{ path_for('search') }}" method="get" class="form--inline">
                <label for="query" class="hidden">検索するコメント</label>
                <input type="text" name="query" class="search__query">
                <input type="submit" value="検索" class="button search__button">
            </form>
        </div>
    {% endif %}
    <article class="threads">
        <h2>スレッド一覧</h2>
        {% if threads is not empty %}
            <form action="{{ path_for('home') }}" method="get" class="form--inline">
                <label for="sort" class="hidden">ソート順</label>
                <select name="sort">
                    <option value="new"{% if sort == 'new' %} selected{% endif %}>新しい順</option>
                    <option value="old"{% if sort == 'old' %} selected{% endif %}>古い順</option>
                </select>
                <input type="submit" value="並び順を変更" class="search__button">
            </form>
            <table class="thread">
                <thead>
                <tr>
                    <th>スレッド</th>
                    <th>ユーザー</th>
                    <th>更新日</th>
                    <th>コメント数</th>
                </tr>
                </thead>
                <tbody>
                {% for thread in threads %}
                    <tr>
                        <td class="cell cell--scroll">
                            <a href="{{ path_for('thread', {}, {'thread_id': thread.thread_id}) }}" class="cell__title">
                                {% if thread.comment %}
                                    {{ thread.comment }}
                                {% else %}
                                    [削除済み]
                                {% endif %}
                            </a>
                        </td>
                        <td class="cell" data-title="ユーザ">
                            {% if thread.user_name %}
                                {{ thread.user_name }}
                            {% else %}
                                匿名
                            {% endif %}
                        </td>
                        <td class="cell cell--scroll" data-title="更新日">{{ thread.updatedAtStr }}</td>
                        <td class="cell" data-title="コメント数">{{ thread.count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>スレッドはまだありません。</p>
        {% endif %}
    </article>
{% endblock %}