{% extends "base.twig" %}

{% block title %}Thread{% endblock %}
{% block contents %}
    {% if saved or deleted %}
        <div class="message content">
            <ul>
                {% if saved %}
                    <li>{{ saved }}</li>
                {% endif %}
                {% if deleted %}
                    <li>{{ deleted }}</li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    <div class="content">
        <form action="{{ path_for('thread_save') }}" method="post" id="comment_form" enctype="multipart/form-data">
            <label for="comment">コメント: <input type="text" name="comment"></label>
            <label for="picture">画像: <input type="file" name="picture" id="picture"
                                            accept="image/png, image/gif, image/jpeg"></label>
            <input type="hidden" name="thread_id" value="{{ thread_id }}">
            <input type="hidden" name="sort" value="{{ sort }}">
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
            <input type="hidden" name="{{ valueKey }}" value="{{ value }}">
            <input type="submit" value="コメントする" class="button">
        </form>
    </div>
    <div class="row">
        <article class="comments column">
            {% if comments %}
                <div class="comments__sort">
                    <form action="{{ path_for('thread') }}" method="get" class="form--inline">
                        <input type="hidden" name="thread_id" value="{{ thread_id }}">
                        <select name="sort">
                            <option value="asc" {% if sort == "asc" %}selected{% endif %}>古い順</option>
                            <option value="desc" {% if sort == "desc" %}selected{% endif %}>新しい順</option>
                        </select>
                        <input type="submit" value="並び順を変更" class="comments__sort__button">
                    </form>
                </div>
                {% for comment in comments %}
                    <section class="comment">
                        <header class="comment__header">
                            {% set isSigned = comment.user_name and comment.user_image_url %}
                            <div>
                                <div class="comment__header__wrap">
                                    {% if isSigned %}
                                        <img class="comment__header__wrap__icon" src="{{ comment.user_image_url }}"
                                             alt="{{ comment.user_name }}">
                                    {% else %}
                                        <img class="comment__header__wrap__icon" src="http://via.placeholder.com/48x48"
                                             alt="匿名ユーザー">
                                    {% endif %}
                                </div>
                                <div class="comment__header__username">
                                    {% if isSigned %}
                                        @{{ comment.user_name }}
                                    {% else %}
                                        匿名ユーザー
                                    {% endif %}
                                </div>
                            </div>
                            <div class="comment__header__createdat">
                                {{ comment.created_at }}
                            </div>
                        </header>
                        <main class="comment__main">
                            <div id="{{ comment.comment_id }}">
                                {{ comment.comment | trim }}
                            </div>
                            {% if comment.photo_url %}
                                <div class="comment_main__photo">
                                    <img src="https://s3-{{ region }}.amazonaws.com/{{ bucket }}/{{ comment.photo_url }}"
                                         alt="{{ comment.comment }}">
                                </div>
                            {% endif %}
                            {% if (isSigned and comment.user_id == user_id) %}
                                <div class="hidden">
                                    <form action="{{ path_for('update_comment') }}" method="post"
                                          id="edit-{{ comment.comment_id }}-to" class="js-edit-form">
                                        <label for="comment"><input type="text" name="comment"
                                                                    value="{{ comment.comment }}"></label>
                                        <input type="hidden" name="comment_id" value="{{ comment.comment_id }}">
                                        <input type="hidden" name="thread_id" value="{{ thread_id }}">
                                        <input type="hidden" name="_METHOD" value="PUT">
                                        <input type="submit" value="変更" class="button--small js-update"
                                               data-comment="{{ comment.comment_id }}"
                                               id="update-{{ comment.comment_id }}">
                                        <button class="js-cancel comment__cancel button--small"
                                                id="cancel-{{ comment.comment_id }}"
                                                data-comment="{{ comment.comment_id }}">キャンセル
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                        </main>
                        <footer class="comment__footer">
                            <div class="comment__footer_delete">
                                {% if is_admin or (isSigned and comment.user_id == user_id) %}
                                    <form action="{{ path_for('delete_comment') }}" method="post">
                                        <input type="hidden" name="comment_id" value="{{ comment.comment_id }}">
                                        <input type="hidden" name="thread_id" value="{{ thread_id }}">
                                        <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
                                        <input type="hidden" name="{{ valueKey }}" value="{{ value }}">
                                        <input type="hidden" name="_METHOD" value="DELETE">
                                        <input type="submit" value="削除" class="comment_delete button--small">
                                    </form>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </div>
                            {% if (isSigned and comment.user_id == user_id) %}
                                <button class="button--small js-edit" id="edit-{{ comment.comment_id }}">編集</button>
                            {% endif %}
                            {% if loggedIn %}
                                <div>
                                    <form action="javascript: void(0);" method="post" id="like-{{ comment.comment_id }}"
                                          class="js-like">
                                        <input type="hidden" name="comment_id" value="{{ comment.comment_id }}">
                                        <input type="hidden" name="thread_id" value="{{ thread_id }}">
                                        <input type="submit" value="そうだね &#215;{{ comment.like_count }}"
                                               class="button--small" id="like-{{ comment.comment_id }}--submit">
                                        <span class="hidden" id="like-{{ comment.comment_id }}--data"
                                              data-like="{{ comment.like_count }}">
                                    </form>
                                </div>
                            {% else %}
                                <div>
                                    そうだね&#215;<span
                                            id="like-{{ comment.comment_id }}_like">{{ comment.like_count }}</span>
                                </div>
                            {% endif %}
                        </footer>
                    </section>
                {% endfor %}
            {% else %}
                コメントがありません。
            {% endif %}
        </article>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{{ base_url() }}/assets/js/like.js"></script>
    <script src="{{ base_url() }}/assets/js/edit.js"></script>
    <script>
        const add_like_path = '' + '{{ path_for('add_like') }}';
        const update_path = '' + '{{ path_for('update_comment') }}';
        let forms = document.querySelectorAll('form.js-like');
        Array.from(forms).forEach((form) => {
            form.addEventListener('click', (envet) => {
                addLike(event.target.parentElement.id);
            });
        });
        let edit_forms = document.querySelectorAll('button.js-edit');
        Array.from(edit_forms).forEach((form) => {
            form.addEventListener('click', (envet) => {
                showEditBox(event.target.id);
            });
        });
        let update_buttons = document.querySelectorAll('input.js-update');
        Array.from(update_buttons).forEach((button) => {
            button.addEventListener('click', (envet) => {
                event.preventDefault();
                updateComment(document.getElementById(event.target.id).dataset.comment);
            });
        });
        let cancel_buttons = document.querySelectorAll('button.js-cancel');
        Array.from(cancel_buttons).forEach((button) => {
            button.addEventListener('click', (envet) => {
                event.preventDefault();
                hideEditBox('edit-' + document.getElementById(event.target.id).dataset.comment);
            });
        });
    </script>
{% endblock %}