{% extends "base.twig" %}

{% block title %}Thread{% endblock %}
{% block contents %}
    <nav>
        <a href="{{ path_for('home') }}">トップページに戻る</a>
    </nav>
    <div class="message">
        <ul>
            {% if saved %}
                <li>{{ saved }}</li>
            {% endif %}
            {% if deleted %}
                <li>{{ deleted }}</li>
            {% endif %}
        </ul>
    </div>
    <form action="{{ path_for('thread_save') }}" method="post" class="pure-form">
        <label for="comment"><input type="text" name="comment"></label>
        <input type="hidden" name="thread_id" value="{{ thread_id }}">
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
        <input type="hidden" name="{{ valueKey }}" value="{{ value }}">
        <input type="submit" value="送信" class="pure-button pure-button-primary">
    </form>
    <article class="comments">
        {% if comments %}
        {% for comment in comments %}
            <section class="comment">
                <header>
            {% set isSigned = comment.user_name and comment.user_image_url %}
            {% if isSigned %}
                {{ comment.user_name }}<img src="{{ comment.user_image_url }}" alt="{{ comment.user_name }}">:
            {% else %}
                匿名ユーザー:
            {% endif %}
                    <span>{{ comment.created_at }}</span>
                </header>
                <main>️
                    {{ comment.comment }}
                </main>
                <footer>
            {% if is_admin or (isSigned and comment.user_id == user_id) %}
                <form action="{{ path_for('delete_comment') }}" method="post">
                    <input type="hidden" name="comment_id" value="{{ comment.comment_id }}">
                    <input type="hidden" name="thread_id" value="{{ thread_id }}">
                    <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
                    <input type="hidden" name="{{ valueKey }}" value="{{ value }}">
                    <input type="hidden" name="_METHOD" value="DELETE">
                    <input type="submit" value="削除">
                </form>
            {% endif %}
                <div>
                    そうだね&#215;<span id="{{ comment.comment_id }}_like">{{ comment.like_count }}</span>
                </div>
            {% if loggedIn %}
                <form action="javascript: void(0);" method="post" id="{{ comment.comment_id }}">
                    <input type="hidden" name="comment_id" value="{{ comment.comment_id }}">
                    <input type="hidden" name="thread_id" value="{{ thread_id }}">
                    <input type="submit" value="そうだね">
                </form>
            {% endif %}
                </footer>
            </section>
        {% endfor %}
        {% else %}
            コメントがありません。
        {% endif %}
    </article>
{% endblock %}
{% block javascript %}
    <script src="{{ base_url() }}/assets/js/like.js"></script>
    <script>
        const add_like_path = '' + '{{ path_for('add_like') }}';
        let forms = document.querySelectorAll('form');
        Array.from(forms).forEach((form) => {
            form.addEventListener('click', (envet) => {
                addLike(event.target.parentElement.id);
            });
        });
    </script>
{% endblock %}