{% extends "base.twig" %}

{% block title %}{{ comment_top.comment|length > 16 ? comment_top.comment|slice(0, 16) ~ '…' : comment_top.comment }}{% endblock %}
{% block contents %}
    {% if comment_top %}
        <div class="row">
            <article class="comments column">
                {% set comment = comment_top %}
                <section class="comment js-comment comment_top" id="top"
                         data-comment="{{- comment.comment | trim }}">
                    <header class="comment__header">
                        {% set isSigned = comment.user_name and comment.user_image_url %}
                        <div>
                            <div class="comment__header__wrap">
                                {% if isSigned %}
                                    <img class="comment__header__wrap__icon" src="{{ comment.user_image_url }}" width="48" height="48" alt="{{ comment.user_name }}">
                                {% else %}
                                    <img class="comment__header__wrap__icon" src="/assets/img/anonymous-user.svg" width="48" height="48" alt="匿名ユーザー">
                                {% endif %}
                            </div>
                            <div class="comment__header__username">
                                {% if isSigned %}
                                    <a href="{{ path_for('user', { name: comment.user_name }) }}">
                                        @{{ comment.user_name }}
                                    </a>
                                {% else %}
                                    匿名ユーザー
                                {% endif %}
                            </div>
                        </div>
                        <div class="comment__header__createdat">
                            <a href="{{ path_for('comment', {'comment_id': comment.comment_id}) }}">{{ comment.createdAtStr }}</a>
                        </div>
                    </header>
                    <main class="comment__main">
                        <div id="top_comment" data-comment="{{ comment.comment }}">
                            {{ comment.comment }}
                        </div>
                        {% if comment.photo_url %}
                            <div class="comment_main__photo">
                                <img src="https://s3-{{ region }}.amazonaws.com/{{ bucket }}/{{ comment.photo_url }}"
                                     alt="{{ comment.comment }}">
                            </div>
                        {% endif %}
                    </main>
                    <footer class="comment__footer">
                        <div>
                            &nbsp;
                        </div>
                        <div>
                            そうだね&#215;<span
                                    id="like-{{ comment.comment_id }}_like">{{ comment.like_count }}</span>
                        </div>
                    </footer>
                </section>
            </article>
        </div>
    {% endif %}
    {% if info or error %}
        <div id="m" class="global_messages">
            {% if info %}
                <div class="message content">
                    <ul class="message__lists">
                        <li>{{ info }}</li>
                    </ul>
                </div>
            {% endif %}
            {% if error %}
                <div class="message message--error content">
                    <ul class="message__lists">
                        <li>{{ error }}</li>
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endif %}
    {% include "comment_form.twig" with {
        'thread_id': thread_id,
        'user_id': user_id,
        'nameKey': nameKey,
        'name': name,
        'valueKey': valueKey,
        'value': value,
        'user': user
    } %}
    <div class="row" id="js-comments">
        <article class="comments column" v-cloak>
            <div v-show="error_msg !== ''"
                 class="message message--error content content--thin">
                ${error_msg}
            </div>
            <section v-for="comment in comments" class="comment js-comment" :id="comment.id">

                <div v-show="has_error(comment)"
                     class="message message--error content content--thin">
                    ${comment.error_msg}
                </div>
                <div v-show="has_message(comment)"
                     class="message content content--thin">
                    ${comment.success_msg}
                </div>
                <header class="comment__header">
                    <div>
                        <div class="comment__header__wrap">
                            <img v-if="comment._comment.user_name" class="comment__header__wrap__icon" :src="comment._comment.user_image_url" width="48" height="48" alt="comment._comment.user_name">
                            <img v-else class="comment__header__wrap__icon" src="/assets/img/anonymous-user.svg" width="48" height="48" alt="匿名ユーザー">
                        </div>
                        <div v-if="comment._comment.user_name" class="comment__header__username">
                            <a :href="'{{ path_for('user') }}/' + comment._comment.user_name">
                                @${ comment._comment.user_name }
                            </a>
                        </div>
                        <div v-else class="comment__header__username">
                            匿名ユーザー
                        </div>
                    </div>
                    <div class="comment__header__createdat">
                        <span v-if="comment._comment.updated_at" class="comment__header__createdat__edited">編集済み</span>
                        <a :href="'{{ path_for('comment') }}/' + comment.comment_id">
                            ${ comment._comment.created_at }
                        </a>
                    </div>
                </header>
                <main class="comment__main">
                    <div :id="comment._comment.comment_id" v-show="!editing(comment)"
                         v-html="comment_computed(comment.comment)">
                    </div>
                    <div v-if="comment._comment.photo_url" class="comment_main__photo">
                        <img :src="'https://s3-{{ region }}.amazonaws.com/{{ bucket }}/' + comment._comment.photo_url"
                             :alt="comment.comment">
                    </div>
                    <div v-if="editing(comment) && isOwned(comment.user_id)">
                        <form action="{{ path_for('update_comment') }}" method="post"
                              class="js-edit-form">
                            <label for="comment">
                                            <textarea name="comment" class="comment_form__comment"
                                                      v-model="comment.comment" maxlength="400"
                                                      placeholder="編集後のコメント" required :readonly="saving(comment)"></textarea>
                            </label>
                            <input type="hidden" name="comment_id" :value="comment.comment_id">
                            <input type="hidden" name="thread_id" value="{{ thread_id }}">
                            <input type="hidden" name="user_id" :value="comment.user_id">
                            <input type="hidden" name="user_hash" value="{{ hash }}">
                            <input type="hidden" name="_METHOD" value="PUT">
                            <input type="submit" :value="saving(comment) ? '変更中' : '変更'" class="button--small js-update"
                                   :id="'update-' + comment.comment_id"
                                   @click="editEnd(comment, $event)"
                                   :disabled="saving(comment)">
                            <button class="comment__cancel button--small"
                                    @click="editCancel(comment, $event)"
                                    :disabled="saving(comment)">キャンセル
                            </button>
                        </form>
                    </div>
                </main>
                <footer class="comment__footer">
                    <div class="comment__footer_delete">
                        {% if is_admin %}
                            <form action="{{ path_for('delete_comment') }}" method="post">
                                <input type="hidden" name="comment_id" :value="comment.comment_id">
                                <input type="hidden" name="thread_id" :value="comment._comment.thread_id">
                                <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
                                <input type="hidden" name="{{ valueKey }}" value="{{ value }}">
                                <input type="hidden" name="_METHOD" value="DELETE">
                                <input type="submit" value="削除" class="comment_delete button--small"
                                       @click="deleteConfirm">
                            </form>
                        {% else %}
                            <form v-if="isOwned(comment.user_id)" action="{{ path_for('delete_comment') }}" method="post">
                                <input type="hidden" name="comment_id" :value="comment.comment_id">
                                <input type="hidden" name="thread_id" :value="comment._comment.thread_id">
                                <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
                                <input type="hidden" name="{{ valueKey }}" value="{{ value }}">
                                <input type="hidden" name="_METHOD" value="DELETE">
                                <input type="submit" value="削除" class="comment_delete button--small"
                                       @click="deleteConfirm">
                            </form>
                        {% endif %}
                    </div>
                    <button class="button--small comment_edit"
                            @click="editStart(comment)" v-if="!editing(comment) && isOwned(comment.user_id)">編集
                    </button>
                    {% if loggedIn %}
                        <div>
                            <form action="javascript: void(0);" method="post" :id="comment.like_form_id">
                                <input type="hidden" name="comment_id" :value="comment.comment_id">
                                <input type="hidden" name="thread_id" :value="comment._comment.thread_id">
                                <input type="submit" :value="soudane(comment)"
                                       class="button--small button--like"
                                       :id="'like-' + comment.comment_id + '--submit'"
                                       @click="addLike(comment)"
                                       :disabled="comment.unsent">
                            </form>
                        </div>
                    {% else %}
                        <div>
                            そうだね&#215;<span
                                    :id="'like-' + comment.comment_id + '_like'">${ comment.count }</span>
                        </div>
                    {% endif %}
                </footer>
            </section>
        </article>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script>
        const add_like_path = '{{ path_for('add_like') }}';
        const update_path = '{{ path_for('update_comment') }}';
        const fetch_path = '/comments/{{ thread_id }}/';
        const user_id = '' + '{{ user_id }}';
        const comments = JSON.parse('{{ comments | raw }}');
    </script>
    <script src="{{ base_url() }}/assets/js/bundle.js"></script>
{% endblock %}