{% extends "base.twig" %}

{% block title %}Thread{% endblock %}
{% block contents %}
    <form action="{{ path_for('thread_save') }}" method="post" class="pure-form">
        <label for="comment"><input type="text" name="comment"></label>
        <input type="hidden" name="thread_id" value="{{ thread_id }}">
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
        <input type="hidden" name="{{ valueKey }}" value="{{ value }}">
        <input type="submit" value="送信" class="pure-button pure-button-primary">
    </form>
    <article class="comments">
        {% if comments %}
        {% for comment in comments %}
            <section class="comment">
                {{ comment.comment }} {{ comment.created_at }}
            {% if comment.user_id == user_id %}
                <form action="{{ path_for('delete_comment') }}" method="post">
                    <input type="hidden" name="comment_id" value="{{ comment.comment_id }}">
                    <input type="hidden" name="thread_id" value="{{ thread_id }}">
                    <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
                    <input type="hidden" name="{{ valueKey }}" value="{{ value }}">
                    <input type="hidden" name="_METHOD" value="DELETE">
                    <input type="submit" value="削除">
                </form>
            {% endif %}
            </section>
        {% endfor %}
        {% else %}
            コメントがありません。
        {% endif %}
    </article>
{% endblock %}